/*#popup {
	padding: 10px;
	height: 200px;
	width: 400px;
	font-family: Helvetica, Ubuntu, Arial, sans-serif;
}
h1 {
	font-size: 2em;
}*/
body {
	width: 600px;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #8FEFEF));
}
#content {
	margin-left: 20px;
}

/*#peacock_logo {
	width: 20%;
}*/
#peacock_header {
	width: 75%;
}
#subtitle {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: bold;
	font-size: 24px;
	margin-left: 20%;
}
.clickable {
	cursor: pointer;
	/*margin-right: 5px;*/
	float: left;
	margin-top: 100px;
}
#players {
	margin-right: 20px;
}
#table {
	font-family: Candara, 'Times New Roman', serif;
	width: 437px;
	height: 200px;
	overflow: hidden;
	float: left;
	margin-right: 20px;
} 
#results{
	font-family: Candara, 'Times New Roman', serif;
	width: 437px;
	height: 150px;
	overflow: hidden;
}
#slider-range {
	height: 200px;
	float: left;
	margin-top: -18px;
	margin-right: 20px;
	margin-bottom: 40px;
}
#floated_left {
	float:left;
}
.tooltip {
	display: block;
	font: 400 12px/12px Arial;
	border-radius: 3px;
	margin-left: 35px;
	margin-top: 10px;
	width: 100px;
	font-family: Candara, 'Times New Roman', serif;
}